<%- include('components/navbar') %>

<head>
  <link rel="stylesheet" href="/css/pages/users.css">
</head>

<div class="container">
  <h1>User List</h1>
  <table class="table">
    <thead>
      <tr>
        <!-- Removed ID column -->
        <th>Username</th>
        <th>Email</th>
        <th>User Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td>
            <%= user.username %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <form action="/users/changeType/<%= user.username %>" method="POST" class="form-inline">
              <div class="form-group">
                <select name="user_type" class="form-control mr-2">
                  <option value="regular" <%= user.user_type === 'regular' ? 'selected' : '' %>>Regular</option>
                  <option value="premium" <%= user.user_type === 'premium' ? 'selected' : '' %>>Premium</option>
                  <option value="admin" <%= user.user_type === 'admin' ? 'selected' : '' %>>Admin</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary btn-sm">Update</button>
            </form>
          </td>
          <td>
            <form action="/users/delete/<%= user.username %>" method="POST" class="form-inline">
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
