<head>
  <link rel="stylesheet" href="../css/components/card.css">
</head>

<div class="card mb-4">
  <img src="<%= item.imageUrl %>" class="card-img-top" alt="<%= item.heading %> Image"
    style="height: 200px; object-fit: cover;">
  <div class="card-body">
    <h5 class="card-title">
      <%= item.heading %>
    </h5>
    <p class="card-text"><strong>Author:</strong>
      <%= item.author %>
    </p>
    <% if (item.retrieval_link) { %>
      <a href="<%= item.retrieval_link %>" class="btn btn-primary">View Details</a>
      <% } %>
        <% if (item.localLink) { %>
          <a href="<%= item.localLink %>" class="btn btn-secondary">View Model</a>
          <% } %>
  </div>
</div>
